* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#fff, #d1f0e0, #96c7b9);
    padding-block: 8%;
}

button {
    cursor: pointer;
}

main.conteiner {
    background-color: #d1d1d14f;
    border: 1px solid #64646446;
    width: 70%;
    margin-inline: auto;
    padding: 15px;
    border-radius: 1pc;
}

input.input-task {
    padding: 10px;
    border: none;
    background: #b3b3b34b;
    border-radius: 6px;
    width: 60%;
    font-size: 1rem;
}

button.button-add-task {
    float: right;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #031;
    color: white;
    transition: opacity 0.5s ease-in;
    font-size: 1rem;
    font-weight: 700;
}

button.button-add-task:hover {
    opacity: 0.7;
    cursor: pointer;
}

ul.list-task {
    margin-top: 40px;
}

li.task {
    background: #b3b3b371;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-height: 60px;
    border-radius: 6px;
    margin-bottom: 25px;
    gap: 10px;
    transition: 1s ease;
    box-shadow: 1px 4px 10px #55555583;
}


li.task button {
    background: none;
    border: none;
    /* border: 1px solid tomato; */
    padding: 0;
    height: 40px;
    width: 40px;
}

li.task img {
    height: 40px;
    opacity: 0;
    /* border: 1px solid tomato; */
    transition: 0.5s ease-in-out;
}

li.task img:hover {
    transform: scale(1.2) rotate(360deg)
}

li.task:hover img {
    opacity: 1;
}

li.task:hover {
    transform: scale(1.03);
}